{
  "rules": {
    "quotes": [2, "single"],
    "eol-last": "error",
    "linebreak-style": ["warn", "unix"],
    "indent": ["warn", 2]
  },
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["dist/*"]
}
